.footer {
margin-top: 5em;
    &__container {

        position: relative;
        padding-bottom: 2em;
        background-color: #333;
        color: gray;
        text-align: center;
        border-radius: 0 100px 0 0;
        .logo {
            padding: .7em;
            font-size: 5rem;
            
            a {
                color: #fff;
                text-decoration: none;

            }
        }

}
&__box {
    padding: 1em;
}
&__h3 {
    padding: 1em;
    color: #fff;
    font-weight: bold;
}
&__list {
    list-style: none;
}
&__li {
    padding: .3em;
    transition: color .3s;
    cursor: pointer;
    &:hover {
        color: tomato;
    }
}
}

@media (min-width:992px) {
    .footer {
        &__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            border-radius: 0;
        }
    }
}