.header {
	position: relative;
	top: -69px;
	height: 90vh;
	max-width: 100%;
	&__hero-img {
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: 100%;
		background: rgb(255, 90, 96);
		background: radial-gradient(
			circle,
			rgba(255, 90, 96, 1) 55%,
			rgba(255, 82, 92, 1) 100%
			);
			border-radius: 0 0 0 160px;
		overflow: hidden;
		z-index: -1;

		.mobile-img {
			position: relative;
			left: -100%;
			top: -36%;
			height: 200%;
			opacity: 0.5;
		}
		.desktop-img {
			display: none;
		}
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	&__text {
		margin-bottom: 2em;
		color: white;
	}
	&__h1 {
		padding: 0.5em;
		font-size: 3.8rem;
		font-weight: normal;
	}
	&__p {
		font-size: 2.2rem;
	}
	&__btns-container {
		position: relative;
		display: flex;
		justify-content: center;
		gap: 0.5em;
	}
	&__btn {
		position: relative;
		align-self: center;
		padding: 1em;
		width: 150px;
		border-radius: 50px;
		border: 1px solid white;
		font-size: 1.8rem;
		font-weight: bold;
		transition: color, background-color 0.3s;
		cursor: pointer;
		&:hover {
			color: white;
			background-color: rgb(255, 255, 255, 0.3);
			border: none;
		}
	}
	&__start-btn {
		color: rgb(255, 90, 96);
	}
	&__learn-btn {
		background-color: transparent;
		color: white;
		transition: color, background-color 0.3s;
		&:hover {
			color: tomato;
			background-color: white;
		}
	}
}

@media (min-width: 720px) {
	.header {
		&__hero-img {
			.mobile-img {
				left: -76%;
				height: 250%;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__hero-img {
			border-radius: 0;
			.mobile-img {
				display: none;
			}
			.desktop-img {
				position: relative;
				display: block;
				height: 300%;
				left: -67%;
				top: -100%;
				opacity: 0.5;
			}
		}
	}
}
@media (min-width: 1200px) {
	.header {
		&__hero-img {
			.desktop-img {
				top: -120%;
				left: -40%;
				height: 400%;
			}
		}
		&__h1 {
			font-size: 5rem;
		}
	}
}
