.header {
	position: relative;
	top: -69px;
	height: 90vh;
	max-width: 100%;
	&__hero-img {
		position: absolute;
		border-radius: 0 0 0 160px;
		height: 100%;
		width: 100%;
		max-width: 100%;
		background: rgb(255, 90, 96);
		background: radial-gradient(
			circle,
			rgba(255, 90, 96, 1) 55%,
			rgba(255, 82, 92, 1) 100%
		);
		overflow: hidden;
		z-index: -1;

		.mobile-img {
			position: relative;
			height: 200%;
			left: -100%;
			top: -36%;
			opacity: 0.5;
		}
		.desktop-img {
			display: none;
		}
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 1;
	}
	&__text {
		color: white;
		margin-bottom: 2em;

	}
	&__h1 {
		font-weight: normal;
		padding: 0.5em;
		font-size: 3.8rem;
	}
	&__p {
		font-size: 2.2rem;
	}
	&__btns-container {
		display: flex;
		position: relative;
		justify-content: center;
		gap: .5em;
	}
	&__btn {
		position: relative;
		border: none;
		width: 150px;
		align-self: center;
		font-weight: bold;
		border-radius: 50px;
		font-size: 1.8rem;
		padding: 1em;
		border: 1px solid white;
		cursor: pointer;
		&:hover {
			background-color: gray;
			color: white;
		}
	}
	&__start-btn {
		color: rgb(255, 90, 96);
	}
	&__learn-btn {
		background-color: transparent;

		color: white;
	}
	
}

@media (min-width:720px) {
	.header {
		&__hero-img{
			.mobile-img{
				left: -76%;
				height: 250%;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__hero-img {
			.mobile-img {
				display: none;
			}
			.desktop-img {
				display: block;
				position: relative;
				height: 300%;
				left: -67%;
				top: -100%;
				opacity: 0.5;
			}
		}
	}
}
@media (min-width: 1200px 
) {
	.header {
		&__hero-img{
			.desktop-img{
				top: -120%;
				left: -40%;
				height: 400%;
			}
		}
	}
}
