.nav {
	position: relative;
	display: flex;
	.logo {
		padding: 0.3em;
		font-size: 4rem;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
	}
	&__primary-items {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		max-height: 85vh;
		width: 85%;
		left: 150%;
		flex-direction: column;
		text-align: center;
		list-style: none;
		border-radius: 8px;
		background-color: white;
		overflow-y: auto;
		padding: 1em;
		box-shadow: 0px 7px 24px -7px rgba(120, 123, 136, 1);
		transition: transform 0.5s;

		&--active {
			transform: translate(-50%, 70px);
			left: 50%;
		}
	}
	&__secondary-items {
		align-self: center;
		position: relative;
		margin-bottom: 1em;
		padding: 1em;
		background-color: lightgray;
		border: 8px;
		width: 90%;
		display: none;
		border-radius: 8px;
		list-style: none;
	}
	&__primary-item {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 1em;
		text-align: center;
		align-items: center;

		font-weight: bold;
		font-size: 2rem;
		width: 90%;
		cursor: pointer;
		transition: color 0.3s;
		&:hover {
			color: #be762f;
		}
	}
	&__secondary-item {
		padding: 0.5em 1em;
		font-size: 1.8rem;
		color: rgb(109, 109, 109);
	}
	.buttons-container {
		margin-top: 4rem;
		position: relative;
		width: 100%;
		&::before {
			position: absolute;
			content: "";
			height: 1px;
			background-color: black;
			top: -10px;
			width: 100%;
		}
		display: flex;
		flex-direction: column;
		button {
			position: relative;
			border: none;
			margin: 1em;
			width: 50%;
			align-self: center;
			font-weight: bold;
			border-radius: 50px;
			padding: 1em;
			cursor: pointer;
			&:hover {
				background-color: lightgray;
			}
		}
		.login-btn {
			color: black;
			background-color: transparent;
		}
		.signup-btn {
			background-color: tomato;
			color: white;
		}
	}
	.burger-btn {
		position: absolute;
		right: 1em;
		padding: 0.8em;
		height: 4rem;
		border: none;
		align-self: center;
		background: transparent;
		cursor: pointer;

		.close-icon {
			display: none;
		}
		.burger-icon {
			display: none;
		}

		.active {
			display: block;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__primary-items {
			position: relative;
			display: flex;
			flex-direction: row;
			height: 100%;
			left: 0px;
			background-color: transparent;
			overflow: visible;
			padding: 0;
			color: white;
		}
		&__primary-item {
			width: 20%;
			top: 10px;
			font-size: 1.7rem;
			&:hover {
				.nav__secondary-items {
					opacity: 1;
				}
			}
		}
		&__secondary-items {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 96%;
			left: 0;
			width: 100%;
			border-radius: 0 0 8px 8px;
			z-index: 100;
			opacity: 0;
		}
		&__secondary-item {
			align-self: center;
			font-size: 1.6rem;
		}
		.burger-btn {
			display: none;
		}
		.buttons-container {
			&::before {
				display: none;
			}
			flex-direction: row;
			margin-top: 0;
			justify-content: flex-end;
			right: 5%;
			button {
				width: 20%;
			}
		}
	}
}
