.nav {
	position: relative;
	display: flex;
	z-index: 100;
	.logo {
		padding: 0.3em;
		color: #fff;
		font-size: 4rem;
		font-weight: bold;
		text-decoration: none;
	}
	&__primary-items {
		position: absolute;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: flex-start;
		padding: 1em;
		max-height: 85vh;
		width: 85%;
		left: 150%;
		border-radius: 8px;
		list-style: none;
		background-color: white;
		overflow-y: auto;
		transition: transform 0.5s;

		&--active {
			left: 50%;
			transform: translate(-50%, 70px);
		}
	}
	&__secondary-items {
		position: relative;
		display: none;
		margin: 1em 0;
		padding: 1em;
		width: 90%;
		background-color: lightgray;
		border: 8px;
		border-radius: 8px;
		list-style: none;
		box-shadow: 0px 7px 24px -7px rgba(120, 123, 136, 1);
	}
	&__primary-item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 1em;
		font-size: 2rem;
		font-weight: bold;
		width: 90%;
		transition: color 0.3s;
		cursor: default;

		&:hover {
			color: #be762f;
		}
	}
	&__secondary-item {
		padding: 0.5em 1em;
		color: rgb(109, 109, 109);
		font-size: 1.8rem;
		transition: color .3s;
		cursor: pointer;
		&:hover {
			color: #be762f;
		}
	}
	.buttons-container {
		position: relative;
		margin-top: 4rem;
		width: 100%;
		&::before {
			position: absolute;
			content: "";
			height: 1px;
			background-color: black;
			top: -10px;
			width: 100%;
		}
		display: flex;
		flex-direction: column;
		.nav__btn {
			position: relative;
			margin: 1em;
			padding: 1em;
			align-self: center;
			width: 50%;
			border: none;
			border-radius: 50px;
			font-weight: bold;
			cursor: pointer;
			&:hover {
				background-color: lightgray;
				color: #be762f;
			}
		}
		.login-btn {
			color: black;
			background-color: transparent;
		}
		.signup-btn {
			color: white;
			background-color: tomato;
		}
	}
	.burger-btn {
		position: absolute;
		align-self: center;
		right: 1em;
		padding: 0.8em;
		height: 4rem;
		border: none;
		background: transparent;
		cursor: pointer;

		.close-icon {
			display: none;
		}
		.burger-icon {
			display: none;
		}

		.active {
			display: block;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		left: 10%;
		top: 3rem;
		&__primary-items {
			position: relative;
			display: flex;
			flex-direction: row;
			padding: 0;
			height: 100%;
			left: 0;
			background-color: transparent;
			overflow: visible;
			color: white;
		}
		&__primary-item {
			top: 10px;
			width: 20%;
			font-size: 1.7rem;
			&:hover {
				color: #fff;
				text-decoration: underline;
				.nav__secondary-items {
					background-color: #fff;
					opacity: 1;
				}
			}
		}
		&__secondary-items {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 96%;
			left: 0;
			width: 100%;
			border-radius: 5px;
			z-index: 100;
			opacity: 0;

		}
		&__secondary-item {
			align-self: center;
			color: black;
			font-size: 1.6rem;
			font-weight: normal;
			&:hover {
				font-weight: bold;
				color:black;
			}
		}
		.burger-btn {
			display: none;
		}
		.buttons-container {
			&::before {
				display: none;
			}
			flex-direction: row;
			justify-content: flex-end;
			margin-top: 0;
			right: 10%;
			.nav__btn {
				width: 20%;
				color: white;
				transition: color, background-color .3s;
				&:hover {
					color: white;
					background-color: rgb(255, 255, 255, .3);
				}
			}
			.signup-btn {
				color: tomato;
				background-color: white;
				&:hover {
					color: white;
					background-color: rgb(255, 255, 255, .3);
				}
			}
			.login-btn {
				color: white;

				&:hover {
					color: white;
					background-color: rgb(255, 255, 255, .3);
				}
			}
		}
	}
}
