.nav {
	position: relative;
	display: flex;

	.logo {
		padding: 0.3em;
		font-size: 4rem;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
	}
	&__primary-items {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 85vh;
		width: 85%;
		left: 50%;
		transform: translate(-50%, 12%);
		flex-direction: column;
		text-align: center;
		list-style: none;
		border-radius: 8px;
		background-color: white;
	}
	&__secondary-items {
		position: relative;
		margin-bottom: 1em;
		background-color: lightgray;
		border: 8px;
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
	}
	&__primary-item {
		position: relative;
		padding: 1em;

		font-weight: bold;
		font-size: 2rem;
		width: 90%;
	}
	&__secondary-item {
		padding: .5em;
		font-size: 1.8rem;
		color: rgb(109, 109, 109);
	}
	.buttons-container {
		display: none;
	}
	.burger-btn {
		position: absolute;
		right: 1em;
		padding: 0.8em;
		height: 4rem;
		border: none;
		align-self: center;
		background: transparent;
		cursor: pointer;
		&:hover {
			.close-icon {
				fill: red;
			}
			.burger-icon {
				fill: red;
			}
		}
		.close-icon {
			display: none;
		}
		.burger-icon {
			display: none;
		}

		.active {
			display: block;
		}
	}
}
