@use 'index.scss' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scroll-padding-top: 56px;
}
body{
    font-size: 1.8rem;
    background-color: white;
    font-family: sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	
}

.active {
    display: block;
}
$bgc : rgb(243, 83, 30);